<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="container-lg">
    <!-- Sidebar pentru navigare -->
    <div class="sidebar">
      <div class="sidebar-heading">Note Titularizare Istorie</div>
      <nav>
        {% assign pages_list = site.pages | sort: "name" %}
        {% for node in pages_list %}
          {% if node.title != null and node.url != page.url and node.url != "/404.html" %}
            <a href="{{ node.url | relative_url }}">{{ node.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

    <!-- Conținutul principal -->
    <div class="main-content">
      {{ content }}
    </div>
  </div>
<script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
</body>
</html>
